@font-face {
    font-family: 'avarabold';
    src: url('/assets/font/avara.woff2') format('woff2'),
         url('/assets/font/avara.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    color:white;
}

body {
    max-width: 65%;
    letter-spacing: 0.05rem;
    background-color: #2E140B;
    font-family: avarabold;
    padding-left: 2.5rem;
    padding-top: 2rem;
    border-right: 1px solid #5c5b5e;
}

header{
    color: #2E140B;
    background: repeating-linear-gradient(
  90deg,
  #2E140B,
  #2E140B 10px,
  #ff5a17 10px,
  #ff5a17 13px
);
    width: 95%;
}

header .logo {
    color: #2E140B;
    padding: 0.7rem 0.5rem 0.7rem 0.7rem;
    width: 14.2%;
    background-color: #ff5a17;
}

h2 {
    font-size: 20pt;
    line-height: 1.3rem;
}

footer{
    padding-top: 8rem;
    padding-bottom: 6rem;
    color: #908f95;
}

main, h2{
    padding-top: 1.5rem;
}

.Recsoft li{
    padding-top: 14px;
}